{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-shadow": [
      "error",
      {
        "builtinGlobals": false,
        "hoist": "never",
        "allow": ["err"]
      }
    ],
    "arrow-parens": [
      2,
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 4
        }
      }
    ]
  }
}
