$col-count: 12;
@function col($columns) {
  @return unquote((100 / $col-count) * $columns + '%');
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin tablets {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin phones {
  @media screen and (min-width: 480px) {
    @content;
  }
}

// отцентрировать блочный элемент, не беспокоясь о верхних и нижних отступах, которые уже были применены
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
// Делает обратное
@mixin push--0 {
  margin: {
    left: 0;
    right: 0;
  }
}

@mixin push-tablets {
  margin: {
    left: auto;
    right: auto;
  }

  @include tablets {
    margin: {
      left: 0;
      right: 0;
    }
  }
}

// Центровка абсолютно позиционированных элементов
@mixin сenter-xy($top: 50%, $left: 50%) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translate(-$top, -$left);
}

@mixin сenter-x($left: 50%) {
  position: absolute;
  left: $left;
  transform: translateX(-$left);
}

@mixin сenter-y($top: 50%) {
  position: absolute;
  top: $top;
  transform: translateY(-$top);
}

// применит transition с указанными параметрами
@mixin transition($transition: all 0.2s linear) {
  transition: $transition;
}
