/* fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
/* backgrounds */
/* @value modalBackground: rgba(24, 28, 39, 0.25);
@value appBackground:#E5E5E5;
@value formBackground: #FAFAFA;

@value textMain: rgba(24, 28, 39, 1);
@value textShaded:rgba(24, 28, 39, 0.6); */

$formBackground: #fafafa;
$appBackground: #f1f2f7;
$modalBackground: rgba(24, 28, 39, 0.25);
$height_header: 50px;
$white: #fff;
$text-color: rgb(23, 27, 38);
$primary-color: #ff6b08;
$error-color: #ff2c0c;
$textShaded: rgba(24, 28, 39, 0.6);
