@import '../../helpers/scss/vars.module.scss';

.a{text-decoration: none;
margin: 0;
padding: 0;
width: inherit;
color: $white;
}

.el {
  position: relative;
  border-radius: 5px;
  background-color: teal;
  letter-spacing: 0.04em;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
  }
}

.title {
  font-weight: 800;
}

.trash {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 15px;
  bottom: 10px;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 469px) {
  .el:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 470px) and (max-width: 1003px) {
  .el:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .el {
    height: 136px;
    width: 136px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .text {
    font-size: 10px;
    line-height: 12px;
  }
}

@media screen and (min-width: 1003px) and (max-width: 1550px) {
  .el:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .el {
    width: 216px;
    height: 216px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .title {
    font-size: 26px;
    line-height: 32px;
  }

  .text {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1550px) {
  .el:nth-child(5n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .el {
    width: 270px;
    height: 270px;
    // margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
