@import '../../helpers/scss/vars.module.scss';
.sidebar {
  display: grid;
}
.backToAll {
  grid-column-start: 2px;
}

.backToAllText {
  &:hover {
    cursor: pointer;
  }
  &::before {
    display: inline-block;
    content: '';
    height: 8px;
    width: 30px;
    margin-right: 20px;
    background-image: url('../../assets/images/arrow.svg');
  }
}
@media screen and (max-width: 469px) {
  .sidebar {
    grid-template-columns: 32px auto;
  }
  .backToAll {
    border-bottom: 1px;
  }
}
