@import '../../helpers/scss/vars.module.scss';
.userMenu {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.logoutBtn {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;

  &:hover .logoutText {
    color: rgba(24, 28, 39, 1);
  }
}

.nameText {
  font-weight: 600;
  color: #181c27;
}

@media screen and (max-width: 767px) {
  .logoutText {
    display: none;
  }

  .nameText {
    margin-left: 15px;
    overflow: hidden;
    text-align: right;
  }

  .logoutBtn::before {
    display: inline-block;
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 40px;
    background-color: #a6a6a6;
    transform: translateX(22px);
  }

  .svg {
    z-index: 5;
    fill: $appBackground;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .nameText {
    margin-right: 50px;
  }

  .svg {
    fill: #181c27;
    margin-right: 10px;
  }

  .logoutText {
    color: $textShaded;
  }
}
