.sprint {
  display: flex;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  // width: 100%;
}

.tasks {
  position: relative;
  border-radius: 50px;
}
.createTaskText {
  display: none;
}

.createTask {
  border-radius: 50px;
  position: fixed;
}

.showGraph {
  position: fixed;
}
@media screen and (max-width: 767px) {
  .sprint {
    flex-direction: column;
    align-items: center;
  }
  .list {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .createTask {
    right: 20px;
    bottom: 20px;
  }
  .showGraph {
    left: 20px;
    bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .sprint {
    min-height: calc(100vh - 80px);
  }

  .showGraph {
    right: 20px;
    bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .list {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 981px) and (max-width: 1215px) {
  .list {
    width: 685px;
  }
}
@media screen and (min-width: 1216px) and (max-width: 1279px) {
  .list {
    width: 920px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tasks {
    width: calc(100% - 255px);
  }

  .list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-right: auto;
    margin-left: auto;
  }
  .createTask {
    position: absolute;
    right: 20px;
    top: 70px;
  }

  .showGraph {
    right: 20px;
    bottom: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    padding-top: 20px;
    padding-left: 70px;
  }
  .createTask {
    position: absolute;
    display: flex;
    align-items: center;
    left: 700px;
    top: 55px;
  }
  .createTaskText {
    display: block;
    margin-left: 20px;
    font-size: 18px;
    cursor: default;
  }

  .showGraph {
    right: 55px;
    bottom: 60px;
  }
}
