@import "../../helpers/scss/mixin.scss";
@import "../../helpers/scss/vars.module.scss";

.title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
}
 
    
.primaryBtn {
    padding: 11px 44px;
    background-color: $primary-color;
    color: $white;
    border: none;
    box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
    border-radius: 25px;
    cursor: pointer;
    transition: padding 0.25s linear, transform 0.1s linear;
    outline: none;
  
    &:hover,
    &:focus {
      padding: 11px 66px;
    }
  
    &:active {
      transform: translate(2px, 2px);
    }
  }
  

.labelName {
  position: absolute;
  top: 11px;
  left: 10px;
  z-index: 5;
  white-space: nowrap;
  transition: all 0.25s linear;
}

.labelNameOnTop {
  composes: labelName;
  top: -17px;
  left: 0;
}

.formInput {
  width: 100%;
  padding: 10px;
  display: block;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba($text-color, 0.2);
  transition: border-bottom 0.25s linear;
  outline: none;
  margin-bottom: 50px;

  &:focus {
    border-bottom: 1px solid $text-color;
  }

  @include tablets {
    padding: 8px;
  }
}

.formSelect{
  width: 30%;
  padding: 10px;  
  border: none;
  border-bottom: 1px solid rgba($text-color, 0.2);
  margin-bottom: 50px;
}

