@import '../../helpers/scss/vars.module.scss';
.projects {
  letter-spacing: 0.04em;
}

.title {
  font-size: 26px;
  line-height: 32px;
  color: $text-color;
}

.addNewText {
  display: none;
  font-weight: 500;
  font-size: 18px;
}
.addNewWrapper {
  position: absolute;
}

.addPeopleBlock {
  position: absolute;
  left: 15%;
  top: 0%;
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  &::after {
    pointer-events: none;
  }
}

.projectTitle {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #181c27;

  &:hover {
    cursor: pointer;
  }
}
.addPeople {
  position: absolute;
  cursor: pointer;
  width: 147px;
  height: 22px;
  left: 50px;
  top: 189px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-decoration-line: underline;

  color: #181c27;
}
.editTitle {
  position: absolute;

  left: 140px;
  top: 130px;
}
.addPeopleIcon {
  position: absolute;
  left: 20px;
  top: 190px;
}
@media screen and (max-width: 469px) {
  .list {
    width: 282px;
  }
  .projectTitle {
    width: 120px;
    height: 32px;
    left: 20px;
    top: 127px;
  }
}

@media screen and (min-width: 470px) and (max-width: 767px) {
  .list {
    width: 428px;
  }
  .projectTitle {
    left: 276px;
    top: 120px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .projects {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    padding-bottom: 35px;
  }
  .addNewWrapper {
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1003px) {
  .list,
  .list::after {
    width: 688px;
  }
  .list::after {
    background-size: auto 236px;
  }
}

@media screen and (min-width: 1003px) and (max-width: 1279px) {
  .list,
  .list::after {
    width: 924px;
  }
  .list::after {
    background-size: 636px 236px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 20px;
  }
  .addNewWrapper {
    top: 120px;
    right: 40px;
  }
  .list::after {
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    background-image: url('../../assets/images/vawe1.svg'),
      url('../../assets/images/vawe2.svg');
  }
}

@media screen and (min-width: 1280px) and (max-width: 1550px) {
  .list,
  .list::after {
    width: 1170px;
  }
}

@media screen and (min-width: 1550px) {
  .list,
  .list::after {
    width: 1470px;
  }
}

@media screen and (min-width: 1280px) {
  .addNewText {
    display: inline;
    margin-right: 20px;
  }

  .addNewWrapper {
    top: 120px;
    right: 40px;
    display: flex;
    align-items: center;
  }
  .list::after {
    background-size: auto 300px;
  }
}

///for button
.add {
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: $primary-color;

  &::before {
    display: block;
    content: '';
    position: absolute;
    left: 29%;
    top: 50%;
    height: 2px;
    width: 18px;
    background-color: $white;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 29%;
    top: 50%;
    height: 2px;
    width: 18px;
    background-color: $white;
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.05);
  }
}
